# Copy this file to `.env` and update the values as needed.

# PostgreSQL Database connection (Prisma)
DATABASE_URL="postgresql://<username>:<password>@<host>:5432/payroo"

# Environment Mode
NODE_ENV=development

# AWS Configuration (optional for file storage and Lambda integrations)
CURRENT_ACCESS_KEY_ID=<your-access-key-id>
CURRENT_SECRET_ACCESS_KEY=<your-secret-access-key>
CURRENT_REGION=ap-southeast-2
BUCKET_NAME=payroo

